@font-face {
  font-family: 'nyr-caps';
  src: url('../../../static/fonts/EditorCondensedMedium/EditorCondensed-Medium.ttf');
}

// @font-face {
//   font-family: 'nyr-title';
//   font-weight: bold;
//   src: url('../assets/fonts/Editor/Editor Medium/Editor-Medium.ttf');
// }
@font-face {
  font-family: 'nyr-title';
  font-weight: normal;
  src: url('../../../static/fonts/Begum/Begum/Begum-Bold.ttf');
}
@font-face {
  font-family: 'nyr-title';
  font-weight: normal;
  font-style: italic;
  src: url('../../../static/fonts/Begum/Begum/Begum-BoldItalic.ttf');
}

@font-face {
  font-family: 'nyr-text';
  font-style: normal;
  font-weight: normal;
  src: url('../../../static/fonts/SabonLTStd/SabonLTStd-Regular.ttf');
}

@font-face {
  font-family: 'nyr-text';
  font-style: italic;
  font-weight: normal;
  src: url('../../../static/fonts/SabonLTStd/SabonLTStd-Italic.ttf');
}
@font-face {
  font-family: 'nyr-text';
  font-style: normal;
  font-weight: bold;
  src: url('../../../static/fonts/SabonLTStd/SabonLTStd-Bold.ttf');
}
@font-face {
  font-family: 'nyr-text';
  font-style: italic;
  font-weight: bold;
  src: url('../../../static/fonts/SabonLTStd/SabonLTStd-BoldItalic.ttf');
}
